In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import joblib

In [14]:
url = 'https://raw.githubusercontent.com/AyushAI14/Test-dataset/refs/heads/main/Churn_Modelling.csv'
df = pd.read_csv(url)

In [15]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

# Preprocessing

In [16]:
# droping columns
df = df.drop(['RowNumber','CustomerId','Surname'],axis=1)
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [17]:
# df.isnull().sum()
# import  seaborn as sns
# import matplotlib.pyplot as plt

# for i in df.columns:
#   if i != 'Exited':
#     sns.scatterplot(df,x=i,y='Exited')
#     plt.show()

In [18]:
df.query('Age > 85')

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
2458,513,Spain,Male,88,10,0.00,2,1,1,52952.24,0
6443,753,France,Male,92,3,121513.31,1,0,1,195563.99,0
6759,705,France,Male,92,1,126076.24,2,1,1,34436.83,0

In [19]:
df.drop([2458,6443,6759],inplace=True)

In [20]:
df.shape
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [21]:
# Ecoding the catatogical var
encoder = LabelEncoder()
df['Gender']=encoder.fit_transform(df['Gender'])

joblib.dump(encoder,'encoder.pkl')
df = pd.get_dummies(df, columns=['Geography'],dtype=int)

feature_columns = df.drop('Exited', axis=1).columns.tolist()
joblib.dump(feature_columns, 'model_columns.pkl')

['model_columns.pkl']

In [22]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1,0,0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1,0,0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1,0,0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0,1,0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1,0,0

In [23]:
X = df.drop('Exited',axis=1)
y = df.Exited
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.3,random_state=42)

In [24]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
joblib.dump(scaler,'scaler.pkl')

['scaler.pkl']

In [18]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.330056,-1.091807,-0.665673,-0.336074,1.579302,0.828104,0.649067,0.975573,1.254349,-1.009333,-0.574215,1.744182
1,-1.147839,0.915913,-1.335945,0.009533,0.632111,-0.891256,0.649067,-1.025038,-1.511163,0.990753,-0.574215,-0.573335
2,0.674058,0.915913,-0.474167,1.391961,-1.224996,-0.891256,0.649067,0.975573,-0.586599,-1.009333,-0.574215,1.744182
3,-0.340407,0.915913,0.196104,1.046354,-0.622224,-0.891256,0.649067,0.975573,1.653142,-1.009333,1.741509,-0.573335
4,0.115067,0.915913,-0.186908,-0.336074,1.256055,-0.891256,0.649067,-1.025038,-0.894849,-1.009333,-0.574215,1.744182
...,...,...,...,...,...,...,...,...,...,...,...,...
6992,-0.682013,-1.091807,0.483363,-0.336074,-1.224996,0.828104,-1.540673,0.975573,0.021275,-1.009333,-0.574215,1.744182
6993,0.125419,-1.091807,0.004598,1.046354,-1.224996,0.828104,0.649067,0.975573,0.011566,0.990753,-0.574215,-0.573335
6994,-0.123022,-1.091807,-1.144439,1.046354,0.914231,0.828104,0.649067,-1.025038,-1.635407,-1.009333,-0.574215,1.744182
6995,0.166825,0.915913,0.387610,1.046354,1.816258,-0.891256,0.649067,-1.025038,-0.051956,0.990753,-0.574215,-0.573335
6996,0.094364,0.915913,-0.091155,0.355140,0.531535,-0.891256,0.649067,0.975573,0.939409,-1.009333,-0.574215,1.744182

# ANN Implementation

In [19]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import TensorBoard,EarlyStopping
import datetime

2025-04-29 16:27:44.335512: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-04-29 16:27:44.340704: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2025-04-29 16:27:44.402855: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2025-04-29 16:27:44.402947: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2025-04-29 16:27:44.406448: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-04-29 16:27:44.416912: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2025-04-29 16:27:44.417349: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-04-29 16:27:47.194749: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [20]:
clf = Sequential([
  Dense(units=64,activation='relu',input_shape=(X_train.shape[1],)),#h1
  Dense(units=32,activation='relu'),#h2
  Dense(units=1,activation='sigmoid'),#h2
   ]
)

In [21]:
 clf.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [22]:
clf.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [23]:
## setting up tensorboard
log_dir = 'logs/fit'
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [24]:
ear_stop = EarlyStopping(monitor='val_loss', patience=10)

In [25]:
model = clf.fit(X_train,y_train,validation_data=(X_test,y_test),callbacks=[tensorflow_callback,ear_stop],epochs=100)

Epoch 1/100
219/219 [==============================] - 5s 16ms/step - loss: 0.4735 - accuracy: 0.7859 - val_loss: 0.3890 - val_accuracy: 0.8420
Epoch 2/100
219/219 [==============================] - 2s 9ms/step - loss: 0.4026 - accuracy: 0.8292 - val_loss: 0.3550 - val_accuracy: 0.8650
Epoch 3/100
219/219 [==============================] - 2s 9ms/step - loss: 0.3705 - accuracy: 0.8469 - val_loss: 0.3310 - val_accuracy: 0.8723
Epoch 4/100
219/219 [==============================] - 2s 8ms/step - loss: 0.3563 - accuracy: 0.8518 - val_loss: 0.3223 - val_accuracy: 0.8750
Epoch 5/100
219/219 [==============================] - 1s 7ms/step - loss: 0.3489 - accuracy: 0.8557 - val_loss: 0.3223 - val_accuracy: 0.8750
Epoch 6/100
219/219 [==============================] - 2s 8ms/step - loss: 0.3441 - accuracy: 0.8575 - val_loss: 0.3245 - val_accuracy: 0.8750
Epoch 7/100
219/219 [==============================] - 2s 9ms/step - loss: 0.3411 - accuracy: 0.8575 - val_loss: 0.3260 - val_accuracy: 0.8727
Epoch 8/100
219/219 [==============================] - 2s 9ms/step - loss: 0.3373 - accuracy: 0.8594 - val_loss: 0.3211 - val_accuracy: 0.8740
Epoch 9/100
219/219 [==============================] - 2s 10ms/step - loss: 0.3347 - accuracy: 0.8604 - val_loss: 0.3183 - val_accuracy: 0.8753
Epoch 10/100
219/219 [==============================] - 2s 10ms/step - loss: 0.3327 - accuracy: 0.8611 - val_loss: 0.3216 - val_accuracy: 0.8733
Epoch 11/100
219/219 [==============================] - 2s 10ms/step - loss: 0.3301 - accuracy: 0.8609 - val_loss: 0.3196 - val_accuracy: 0.8737
Epoch 12/100
219/219 [==============================] - 2s 9ms/step - loss: 0.3280 - accuracy: 0.8631 - val_loss: 0.3201 - val_accuracy: 0.8753
Epoch 13/100
219/219 [==============================] - 2s 10ms/step - loss: 0.3257 - accuracy: 0.8629 - val_loss: 0.3204 - val_accuracy: 0.8710
Epoch 14/100
219/219 [==============================] - 2s 10ms/step - loss: 0.3244 - accuracy: 0.8638 - val_loss: 0.3243 - val_accuracy: 0.8727
Epoch 15/100
219/219 [==============================] - 2s 9ms/step - loss: 0.3217 - accuracy: 0.8655 - val_loss: 0.3247 - val_accuracy: 0.8730
Epoch 16/100
219/219 [==============================] - 2s 10ms/step - loss: 0.3196 - accuracy: 0.8654 - val_loss: 0.3292 - val_accuracy: 0.8683
Epoch 17/100
219/219 [==============================] - 2s 10ms/step - loss: 0.3190 - accuracy: 0.8657 - val_loss: 0.3210 - val_accuracy: 0.8763
Epoch 18/100
219/219 [==============================] - 2s 10ms/step - loss: 0.3162 - accuracy: 0.8678 - val_loss: 0.3230 - val_accuracy: 0.8777
Epoch 19/100
219/219 [==============================] - 2s 8ms/step - loss: 0.3164 - accuracy: 0.8698 - val_loss: 0.3241 - val_accuracy: 0.8770

In [26]:
clf.save('model_1.h5')

/home/ayush/Documents/AI/Projects/Churn-modelling-ANN/myenv/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [27]:
%load_ext tensorboard

In [28]:
%tensorboard --logdir /content/logs/fit